# ignore all non html related files in root
*.pdf
*.docx
*.doc
*.txt
*.csv
*.json
*.xml
*.yaml
*.yml
*.html
*.css
*.js
*.php
*aux
*.log
*.out
*.toc
*.lot
*.lof
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.snm
*.nav
*cv.tex
*cv.out
*cv.log
*cv.aux
*cv.bbl
*cv.blg
*cv.brf
*cv.fls
*cv.fdb_latexmk
*cv.synctex.gz
*cv.snm
*cv.nav
*.tex